## Máster en Big Data y Data Science

### Metodologías de gestión y diseño de proyectos de big data

#### Sesión Práctica 01 - Ejemplo dvc

---

En esta libreta se realizan una serie de pasos básicos para verificar la operatoria a seguir con respecto al versionado de datos utilizando la librería dvc.

In [1]:
import pandas as pd

Se realiza en primera instancia la lectura del conjunto de datos.

In [2]:
# Se hace la lectura de uno de los datasets del escenario

df_creditos = pd.read_csv("../data/raw/datos_creditos.csv", sep=";")
df_creditos.head(1)

,id_cliente,edad,importe_solicitado,duracion_credito,antiguedad_empleado,situacion_vivienda,ingresos,objetivo_credito,pct_ingreso,tasa_interes,estado_credito,falta_pago
0,713061558.0,22,35000,3,123.0,ALQUILER,59000,PERSONAL,0.59,16.02,1,Y

En este punto, el dataset debe haber sido versionado y se habrán confirmado los cambios en el repositiorio git.

A continuación se realiza una modificación para verificar el funcionamiento de dvc.

In [4]:
# Se eliminan dos columnas solo a modo de ejemplo

df_creditos.drop(columns=['edad', 'importe_solicitado'], inplace=True)
df_creditos.head(1)

,id_cliente,duracion_credito,antiguedad_empleado,situacion_vivienda,ingresos,objetivo_credito,pct_ingreso,tasa_interes,estado_credito,falta_pago
0,713061558.0,3,123.0,ALQUILER,59000,PERSONAL,0.59,16.02,1,Y

In [5]:
# Se escriben los cambios al archivo para poder aplicarlos y revertirlos posteriormente.

df_creditos.to_csv("../data/raw/datos_creditos.csv", sep=";", index=False)

Estos cambios deberán ser confirmados en dvc y en el repositorio git.